.dayOfWeek {
  display: inline-flex;
  width: 150px;
  height: 50px;
  border: solid 1px;
  border-bottom: double;
  align-items: center;
  justify-content: center;
}

.day {
  display: inline-flex;
  width: 150px;
  height: 150px;
  border: solid 1px;
}

.dayDummy {
  /* HACK: Don't repeat contents of `.day` */
  display: inline-flex;
  width: 150px;
  height: 150px;
  border: solid 1px;
  background-color: gray;
}
