.day {
  display: inline-flex;
  width: 150px;
  height: 50px;
  border: solid 1px;
  border-bottom: double;
  align-items: center;
  justify-content: center;
}

.date {
  display: inline-flex;
  width: 150px;
  height: 150px;
  border: solid 1px;
}
